@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&family=Roboto+Mono&display=swap');
body {
    background-image: url(../img/night.jpg);
    background-size: cover;
}
.summary {
    text-align: center;
    position: relative;
    top: 80px;
    font-size: 70px;
    color: white;
}
.summary #day {
    font-family: 'Dancing Script', cursive;
    transform: rotate(2deg);
    font-size: 160px;
    line-height: .9em;
}
.summary #time, #date{
    font-family: 'RamsW01-Black';
}
.summary #time {
    line-height: .5em;
}